.controls {
    display: flex;
    justify-content: space-between;
}

.info {
    .controls {
        padding: 0px 10px 10px 10px;
    }

    .details {
        text-align: center;

        h6 {
            margin: 0;
        }
    }

    .langs {
        display: flex;
        justify-content: center;
        padding: 15px 0px;
    }

    h1 {
        margin: 0;
        text-align: center;
        background-color: #5b9bd5;
        color: white;
        padding: 15px;
    }

    p {
        margin: 0px;
        padding: 15px;
        font-style: italic;
        border-bottom: 2px solid #5b9bd5;
        background-color: #e1edf7;
        color: #5b9bd5;
        font-weight: bold;
    }

    background-color: white;
    padding: 0px;
    border: 2px solid #5b9bd5;
    z-index: 999;
    margin-bottom: 20px;
}

.controls .control-wrapper:not(:last-child) {
    margin-right: 50px !important;
}

.controls .mobile-control-wrapper:not(:last-child) {
    margin-bottom: 15px !important;
}

.full-width {
    max-width: 1500px !important;
    margin: 25px auto !important;
}

.left {
    position: absolute;
    right: 40px;
}

.right {
    position: absolute;
    left: 40px;
}

mat-chip {
    background-color: #333 !important;
}

mat-chip:hover::after {
    opacity: 0 !important;
}

.project-main {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.project::after {
    filter: blur(8px);
}

.background-image {
    position: absolute;
    z-index: 1;
    display: block;
    width: 90%;
    height: 400px;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon {
    font-size: 32px;
    color: #333;
}

h3 {
    color: black;
    margin: 0 0 0 15px;
}

@media only screen and (max-width: 768px) {
    .controls {
        display: block;
    }

    .info {
        .langs {
            padding: 15px !important;
        }
    }

    .project-main {
        height: auto !important;
    }
}