button {
    margin: 0px 15px;
}

h4 {
    margin-bottom: -5px;
}

h6 {
    font-size: 14px;
    font-style: italic;
}

.footer {
    justify-content: center;
    background-color: #eee;
    color: #333;
}

.selected {
    background-color: white;
    color: black;
}

.title {
    text-align: center;
    margin-top: 0px;
    margin-right: 50px;
}

.toolbar {
    background-color: #333;
}