<!-- <div class="gallery">
    <img *ngIf="currentImage" [src]="currentImage.path" />
    <div class="popout-gallery-controls">
        <button mat-button class="button" (click)="changeImage(-1)" [disabled]="isFirstImage">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <mat-chip-list>
            <mat-chip 
                *ngFor="let i of data.images" [ngClass]="{ 'chip': true, 'selected-chip': i.id === currentImage.id }"
                (click)="selectImage(i)"    
            ></mat-chip>
        </mat-chip-list>
        <button mat-button class="button" (click)="changeImage(1)" [disabled]="isLastImage">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div> -->